<nav>
    <a href="/">Home</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/profile">Profile</a>
    <a href="/inventory">Inventory</a>
    <a href="/users/admin">Admin</a>
    <a href="/users/logout">Logout</a>
</nav>
<hr>
<h2>Update Inventory:</h2>


<form id="inventory" name="update" method="POST" action="/admin/editUser/:id/{{UserId}}/update">

    <div>
        <label for="FirstName">First Name: </label>
        <input type="text" name="firstName" required>
    </div>
    <div>
        <label for="LastName">Last Name: </label>
        <input type="text" name="LastName" required>
    </div>
    <div>
        <label for="EmployeeNumber">Employee #: </label>
        <input type="text" name="EmployeeNumber" required>
    </div>
    <div>
        <label for="Email">Email: </label>
        <input type="text" name="Email" required>
    </div>
    <div>
        <label for="Username">Username: </label>
        <input type="text" name="Username" required>
    </div>
    <div>
        <label for="Admin">Admin: </label>
        <input type="boolean" name="Admin" required>
    </div><br>
    <div>
        <button class="butupdate" type="submit">Update</button>
    </div>
</form>
<hr>
<ul class="list">
    <li>
<span class='postbadgeA'>{{UserId}}</span><span class='postbadge'><strong>Mower: </strong>{{FirstName}}{{LastName}}</span>
<strong>Type: </strong>{{ MowerType }}: 
</li>
<li>
<span class='postbadgeC'><strong>In Stock: </strong></span><span class='postbadgeB'>{{Inventory}}</span>
</li>
</ul>
<hr/>
