<nav>
    <a href="/">Home</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/profile">Profile</a>
    <a href="/inventory">Inventory</a>
    <a href="/users/admin">Admin</a>
    <a href="/users/logout">Logout</a>
</nav>
<hr>
<h2>Update Inventory:</h2>


<form id="posts" name="update" method="POST" action="/inventory/{{MowerId}}/update">

    <div>
        <label for="title">Mower Name:</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="body">Mower Type</label>
        <input type="text" name="body">
    </div>
    <div>
        <label for="inventory">Inventory</label>
        <input type="number" name="inventory">
    </div><br>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
<hr>
<span class='postbadgeA'>{{MowerId}}</span><span class='postbadge'>Mower: {{MowerName}}:</span>
Type: {{ MowerType }}: <span class='postbadgeA'>In Stock: </span><span class='postbadge'>{{Inventory}}</span>
