<nav>
    <a href="/">Home</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/profile">Profile</a>
    <a href="/inventory">Inventory</a>
    <a href="/users/admin">Admin</a>
    <a href="/users/logout">Logout</a>
</nav>
<hr>
<h2>Id: {{UserId}} </h2><img src="/images/avatar.png" height="45px" />
<h2>Name: {{FirstName}} {{LastName}}</h2>
<h3>Email: {{Email}}</h3>
<h3>Username: {{Username}}</h3>
<h3>Employee Number: {{EmployeeNumber}}</h3>
<h3>Admin Status: {{Admin}}</h3>
<br>
<form name='delete' class="red" method="POST" action="/users/admin/editUser/{{UserId}}/delete">
    <button class="del" type="submit">Delete Employee</button>
</form>
<hr />
