<nav>
    <a href="/">Home</a>
    <a href="/users/signup">Signup</a>
    <a href="/users/login">Login</a>
    <a href="/users/profile">Profile</a>
    <a href="/inventory">Inventory</a>
    <a href="/users/admin">Admin</a>
    <a href="/users/logout">Logout</a>
</nav>
<hr>

<div class="grid">
    <div class="col-2-3">
        <h2>New Stock Item</h2>
        <form id="posts" class="col-1-3" name="inventory" method="POST" action="/inventory">

            <div>
                <label for="title">Mower Name:</label>
                <input type="text" name="title">
            </div>
            <div>
                <label for="body">Mower Type:</label>
                <input type="text" name="body">
            </div>
            <div>
                <label for="inventory">Inventory:</label>
                <input type="number" name="inventory">
            </div><br>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-1-3">
        <img src="/images/mower2.png" height="auto" /><br><br><br>
    </div>
</div>

<hr>
<h2>Inventory: </h2>
<ul class="list">
    {{#each inventory}}
    <li>
        <span class='postbadgeA'>{{MowerId}}</span><span class='postbadge'><strong>Mower:
            </strong>{{MowerName}}:</span><strong>Type: </strong>{{ MowerType }}:
    </li>
    <li>
        <span class='postbadgeC'><strong>In Stock: </strong></span><span class='postbadgeB'>{{Inventory}}</span><button
            class="butupdate" onclick="window.location.href='/inventory/{{MowerId}}'">Update
        </button>
    </li>
    <li>
        <form name='delete' class="red" method="POST" action="/inventory/{{MowerId}}/delete">
            <button class="postdel" type="submit">Delete</button> : Delete Mower from Inventory.
        </form>
    </li>
    {{/each}}

</ul>
<hr />
